body{
    background-color: rgb(221, 220, 220);
}
main{
    width: 40%;
  padding-left: 100px;
    margin: 0% auto;
    background-color: white;
    padding: 0% 10%;
    
    /*line-height: 40px;*/
}

header{
    width: 100%;
    background-color: rgb(66, 65, 65);
   
    
}


nav{
    background-color: rgb(66, 65, 65);
    width: 70%;
    margin: 0% auto;
    padding: 10px;

    overflow: hidden;
    
}

li{
    display: inline;
    color: white;
    margin: 0% 10px;
}


.imageapple{
  /* mix-blend-mode: multiply; */
  background-repeat: no-repeat;
  box-sizing: content-box;
   margin: 0% 10px;
   display: inline;
   width: 4%;  
   background-size: cover;
}
.icon{
  /*  margin: 0% 10px;*/
    display: inline;
    width: 10px;  
    padding-top: 5px;
    align-items: center; 
 }


h1{
    text-align: center;
    font-size: 300%;
}

h2{
    text-align: center;
    font-size: 175%;
    border-top: 1px solid rgb(209, 205, 205);
    margin-top: 5%;
    padding-top: 6%;
}

.noteintro{
border-bottom: 1px solid rgb(209, 205, 205);
padding-bottom: 15%;
margin-bottom: 10%;
}


.subs{
    font-size: 100%;
    font-weight: bold;
    margin-top: 100%;
}



footer{
    margin: 0% auto;
    text-align: center;
}

.subs1{
    margin: 0% auto;
}

.by{
color: rgb(230, 223, 223);
}